<p id="notice"><%= notice %></p>

<p>
  <strong>Money:</strong>
  <%= @moneyexchange.money %>
</p>

<%= link_to 'Edit', edit_moneyexchange_path(@moneyexchange) %> |
<%= link_to 'Back', moneyexchanges_path %>
