/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require c3
 *= require_tree .
 *= require_self
 *= require leaflet
 */

/*
#what_we_do_div {
  height: 100vh;
}*/

.navbar-navbar-dark-bg-primary, li {
  list-style-type: none;
  display: inline;
  font-size: 2em;
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: 15px;

}


.navbar-navbar-dark-bg-primary, li:hover {
  /*background-color: green;*/
}


.navbar-navbar-dark-bg-primary ul, ol {
  margin-top: 0;
  margin-bottom: 10px;

}

.slice text {
 font-size: 10pt;
 font-family: Arial;
}

#pie {
  width:250px;
  height:250px;
  float:left;
}

#bar {
  float:left;
  margin-top:10px;
}

#bar rect {
  fill: steelblue;
}

#bar text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}


#sign-parent {
  padding-top: 10vh;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom right, lightgrey, lightblue)
}

#sign-child {
  text-align: center;
  width: 20%;
  position: relative;
  margin: 0 auto;
  /*background-color: blue;*/
  color: black;
  font-size: 18px;
}

.field {
  text-align: left;
}

#robot_options_div {
  text-align: center;
  margin: auto;
}

.background-circle, .robot {
  text-align: center; 
  margin: auto;
}