.show_body_class {
  background-color: white;
  /*padding-top: %;*/
}

.business-header {
  height: 400px;
  width: 100vh;
  /*#LOOK INTO VIEWPORT FOR LENGTH/HEIGHT*/
  background-color: purple;
}

#jumbotron {
  background-color: purple;
}
