.show_body_class {
  background-color: white;
  /*padding-top: %;*/
}

.business-header {
  height: 100vh;
  width: 100%;
  background-color: beige;
}

#jumbotron {
  background-color: purple;
}

#what_we_do_div {
  /*background-color: green;*/
  /*width: 100%;*/
  /*height: 75vh;*/
}

#robot_options_div {

}

#expenses_top_div {
  background-color: white;
}

#graphics_top_div {
  background-color: purple;
  height: 100vh;
  color: white;
}

#graphics_top_div > p {
  color: white;
  padding-left: 50vh;
  padding-top: 50vh;
  font-size: 30px;
}
